* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.25);
    margin-bottom: 40px;
}

.block-with-links-to-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.link-to-recipe {
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding: 20px;
    transition: 0.1s;
}

.link-to-recipe:hover {
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(100, 100, 100, 0.75);
}

.link-to-recipe img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.link-to-recipe p {
    padding-top: 10px;
    border-top: 1px solid rgba(100, 100, 100, 0.25);
    margin-top: 10px;
}

.recipe-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.recipe-description,
.recipe-cooking {
    width: 500px;
    padding-right: 10px;
    padding-left: 10px;
}

.recipe-description img {
    max-width: 480px;
}

.recipe-description img,
.recipe-description h2,
.recipe-cooking h2,
.recipe-cooking ul {
    margin-bottom: 10px;
}

li p {
    display: inline;
}

.recipe-cooking ul,
.recipe-cooking ol {
    list-style-position: inside;
}

.recipe-cooking ul {
    list-style-type: "\2022";
}